body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.box {
    width: 400px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: height 0.3s ease;
}

.button {
    width: 439px;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(252, 136, 155);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.options {
    display: none;
    padding-top: 10px;
}

.color,
.size,
.discount,
.extraColor,
.extraSize {
    margin: 5px;
    display: inline-block;
    margin-right: 10px;
}

.color select,
.size select,
.discount select,
.extraColor select,
.extraSize select {
    margin-left: 0;
}

.mostPopular {
    top: 10px;
    right: 10px;
    background-color: rgb(252, 136, 155);
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}


.price {
    margin-left: auto;
}

.unit,
.off {
    display: inline-block;
    margin-right: 10px;
}

.off {
    background-color: rgb(252, 136, 155);
    padding: 2px 5px;
    border-radius: 3px;
}

.freeDeliveryTotal {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.freeDelivery {
    text-align: left;
}

.total {
    text-align: right;
}

select {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 100px;
}